version: "3.1"

services:
  backend:
    container_name: backend
    volumes:
      - ./backend:/src
    build: ./backend
    restart: on-failure
    ports:
      - "5000:5000"
    links:
      - mongo
#  frontend:
#    container_name: frontend
#    build: ./frontend
#    ports:
#      - 8080:8080
#    volumes:
#      - ./frontend:/project
#      - /project/node_modules
  mongo:
    container_name: mongo
    image: mongo
    volumes:
      - ./data:/data/db
    restart: on-failure
    expose:
     - 27017