version: "3.1"

services:
  frontend:
    container_name: frontend
    build: ./frontend
    stdin_open: true
    ports:
      - "3000:3000"
    volumes:
      - ./frontend:/project
      - /project/node_modules
    depends_on:
      - backend
  backend:
    container_name: backend
    build: ./backend
    restart: on-failure
    volumes:
      - ./backend:/src
    env_file:
      - ./.env
    ports:
      - "5000:5000"
    links:
      - mongo
  mongo:
    container_name: mongo
    image: mongo
    volumes:
      - ./data:/data/db
    restart: on-failure
    ports:
      - "27017:27017"
    env_file:
      - ./.env