@import "~materialize-css/dist/css/materialize.min.css";

#root {
    background: #f3fffe;
    height: 100vh;
}

blockquote {
    margin: 20px 0;
    padding-left: 1.5rem;
    border-left: 5px solid #026427;
}

span.row {
    font-size: 30px;
    font-weight: bold;
}

.hide-on-med-and-down li {
    font-size: 4rem;
    font-weight: bold;
    text-transform: uppercase;
}
